<!-- BEGIN SLIDER VIDEO -->
<div class="home-wrapper" id="{{headerResponse?.message.split(' ')[0]}}">
    <div class="content-home-wrapper text-center">
        <div class="header-center internal">
            <h1>{{headerResponse?.header_title}}</h1>


            <div class="spacer small"></div>
        </div>

    </div>
    <div class="fullfilter"></div>
    <div class="internal-head" [ngStyle]="{'background-image': 'url(' + headerResponse?.header_image + ')'}"></div>
    <div class="black-filler" style="top:0; position:absolute;"></div>
</div>
<!-- END SLIDER VIDEO -->
