<seo [(seoResponse)]="whatIsKzResponse"></seo>

<image-slider [(headerResponse)]="whatIsKzResponse"></image-slider>

<!-- BEGIN CONTENT SECTION -->
<pop-up-model [(PopUpResponse)]="whatIsKzResponse"></pop-up-model>
<div class="section-outter">
    <section id="what">

        <div class="arc-divider"></div>


        <div class="section-wrapper">
            <div class="section-inner">
                <div class="container">
                    <p class="catch" [innerHTML]="whatIsKzResponse?.introduction"></p>
                    <div class="section-inner" id="section-{{i}}" *ngFor="let section of whatIsKzResponse?.sections; let i=index">
                         <div class="container">
                            <div class="single-column">
                                <div class="section-title">
                                    <h2 class="title"><img *ngIf="section?.icon" src={{section?.icon}} class="img-icon">{{section.title}}</h2>
                                </div>
                                <div class="spacer small"></div>
                                <p [innerHTML]="section?.description"></p>
                                <a *ngIf="section?.button_title" href="#WhatIsKidzanianModal{{i}}" data-toggle="modal" class="btn btn-default">{{section?.button_title}} &nbsp;&rsaquo;</a><span id="economy"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{gotoRefernece()}}
    </section>
</div>
